
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border:3px solid #032c27;
  border-radius: 30px;
  min-width: 500px;
  min-height: 500px;
  background: #230e49;
}

.CounterWrapper {

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  min-height: 400px;

}
.CounterNumberWrapper{
  font-size: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: green solid 5px;
  border-radius: 30px;
  max-width: max-content;
  min-width: 500px ;
  background-color: #182120;


}



.CounterButtonWrapper{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.CounterButtonWrapper button{
  min-width: 230px;
  min-height: 120px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #430c60;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.default_counter{
  color: dodgerblue;
}

.error_counter{
  color: red;
}


.settingsMenuWrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  min-height: 400px;
}
.settingsMenuInput {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
/*border: 5px solid red ;*/
}
.settingsMenuInput input{
  text-align: center;
background-color: #230e49;
  width: 200px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 4px solid gray ;
  padding: 12px;
  font-size: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  ;
}

.settingsMenuInput div{
color: #833232;
font-size: 50px;
}

.settingsMenuWrapper button{
  min-width: 230px;
  min-height: 120px;
  display: inline-block;
  padding: 12px 24px;
  background-color: #430c60;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
div .disabledButtonStyle{
  background-color: #bbbbbb;
}
